/* Definición de fuentes Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.ttf') format('truetype'),
         url('Poppins/Poppins-Bold.ttf') format('truetype'),
         url('Poppins/Poppins-BoldItalic.ttf') format('truetype'),
         url('Poppins/Poppins-SemiBold.ttf') format('truetype'),
         url('Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
         url('Poppins/Poppins-Medium.ttf') format('truetype'),
         url('Poppins/Poppins-MediumItalic.ttf') format('truetype'),
         url('Poppins/Poppins-Light.ttf') format('truetype'),
         url('Poppins/Poppins-LightItalic.ttf') format('truetype'),
         url('Poppins/Poppins-ExtraLight.ttf') format('truetype'),
         url('Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
         url('Poppins/Poppins-ExtraBold.ttf') format('truetype'),
         url('Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
         url('Poppins/Poppins-Black.ttf') format('truetype'),
         url('Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 200 900;
    font-style: normal italic;
}

/* General Styles */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4a494a;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    position: relative;
}

/* Fondo animado */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.02) 25%, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02) 100%);
    background-size: 200% 200%;
    animation: wave 20s ease infinite;
    z-index: -1;
    pointer-events: none;
}

/* Fondo animado secundario */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%);
    background-size: 200% 200%;
    animation: wave 20s ease infinite;
    animation-delay: 1s; /* Retraso de 1 segundo */
    z-index: -1;
    pointer-events: none;
}

@keyframes wave {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Transiciones y efectos en los elementos */
header, main, footer, section {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

header:hover, main:hover, footer:hover, section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #ab99b2;
    padding: 20px;
    color: #4a494a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px; /* Aumenta el radio para un aspecto más moderno */
    text-align: center;
    font-weight: 700;
    position: relative;
}

header .logo {
    max-width: 300px; /* Ajusta el tamaño máximo del logo aquí */
    height: auto;
    margin-bottom: 10px; /* Ajusta el margen inferior para el logo */
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2)); /* Sombra más pronunciada */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 25px; /* Mayor espaciado entre elementos de navegación */
}

nav ul li a {
    color: #4a494a;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #f5eb70;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); /* Efecto de sombra más sutil */
}

section {
    background-color: white;
    border-radius: 12px; /* Aumenta el radio del borde */
    margin-bottom: 20px;
    padding: 30px; /* Aumenta el padding para más espacio */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #ab99b2;
    color: #4a494a;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 700;
}

#imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/fondo02.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 0; /* Aumenta el padding alrededor de la imagen */
    border-radius: 12px; /* Aumenta el radio del borde */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#imagen img {
    border-radius: 50%;
    max-width: 60%; /* Ajusta el tamaño máximo */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#imagen img:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

#imagen h1 {
    text-align: center;
    font-weight: 900;
}

#contacto address {
    text-align: center;
    font-weight: 300;
}

#contacto address a {
    color: #4a494a;
    text-decoration: none;
}

#contacto address a:hover {
    text-decoration: underline;
}

.redes-sociales {
    text-align: center;
    margin-top: 30px; /* Aumenta el margen superior */
}

.redes-sociales a {
    margin: 0 15px; /* Mayor espaciado entre iconos */
    display: inline-block;
    color: #4a494a;
    font-size: 2.5em; /* Aumenta el tamaño de los iconos */
    transition: transform 0.3s ease, color 0.3s ease;
}

.redes-sociales a:hover {
    transform: scale(1.1);
    color: #ab99b2;
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Centra el texto en todas las pantallas */
    padding: 40px; /* Aumenta el padding */
}

#inicio h2, #inicio p, #inicio h3 {
    max-width: 800px; /* Establece un ancho máximo */
}

#inicio p {
    text-align: justify;
    margin-bottom: 20px; /* Aumenta el margen inferior */
}

@media (max-width: 768px) {
    #inicio {
        padding: 20px; /* Menor padding en pantallas pequeñas */
    }

    nav ul li {
        display: block;
        margin: 10px 0; /* Menor espaciado en pantallas pequeñas */
    }
}

/* WhatsApp Floating Icon */
.whatsapp-icon {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 25px; /* Aumenta el tamaño del contenedor */
    height: 25px; /* Aumenta el tamaño del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* Color de fondo para el ícono de WhatsApp */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.whatsapp-icon img {
    width: 80%; /* Ajusta el tamaño del ícono */
    height: 80%;
    object-fit: cover;
}

.whatsapp-icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño del ícono en hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}